{% extends 'amseed/_layouts/overview' %}

{% set title = 'Dummy generators'|t %}
{% set selectedTab = 'generators' %}

{% set extraPageHeaderHtml %}
    <div class="buttons right">
        <div class="btngroup submit">
            <a class="btn submit add icon" href="{{ url('amseed/generators/new') }}">{{ 'New dummy generator'|t }}</a>
        </div>
    </div>
{% endset %}

{% block content %}
    <p id="nogenerators"{% if generators %} class="hidden"{% endif %}>
        {{ "No dummy generators exist yet."|t }}
    </p>

    {% if generators %}
        <table id="generators" class="data fullwidth collapsible">
            <thead>
                <tr>
                    <th scope="col">{{ "Name"|t }}</th>
                    <th scope="col">{{ "Generate amount"|t }}</th>
                    <th scope="col">{{ "Element type"|t }}</th>
                    <th scope="col">{{ 'Status'|t }}</th>
                    <td class="thin"></td>
                </tr>
            </thead>
            <tbody>
                {% for generator in generators %}
                    <tr data-id="{{ generator.id }}" data-name="{{ generator.name|t }}">
                        <th scope="row" data-title="{{ 'Name'|t }}">
                            <a href="{{ url('amseed/generators/edit/' ~ generator.id) }}">{{ generator.name }}</a>
                        </th>
                        <td data-title="{{ 'Generate amount'|t }}">
                            {{ generator.total }}
                        </td>
                        <td data-title="{{ 'Element type'|t }}">
                            {{ generator.elementType|t }}
                        </td>
                        <td data-title="{{ 'Status'|t }}">
                            {% if generator.finished %}
                                <a href="{{ actionUrl('amSeed/generators/restartGenerator', { id: generator.id }) }}">{{ 'Restart'|t }}</a>
                            {% else %}
                                {{ 'Busy'|t }}
                            {% endif %}
                        </td>
                        <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% set js %}
    new Craft.AdminTable({
        tableSelector: '#generators',
        noObjectsSelector: '#nogenerators',
        deleteAction: 'amSeed/generators/deleteGenerator'
    });
{% endset %}
{% includeJs js %}
